@import "tailwindcss";

*::-webkit-scrollbar {
  display: none;
}

:root {
  --text-color: black;
  --bg-color: #f5f6fa;
  /* --bg-color: #e9ecef; */
  --secondary-text-color: #27272a;
  --border: black;
  --bg-sidebar: white;
  --card-bg: white;
}
/* :root {
  --text-color: black;
  --bg-color: white;
  --secondary-text-color: #27272a;
  --border: black;
  --bg-sidebar: white;
  --card-bg: white;
} */

[data-theme="dark"] {
  --text-color: white;
  --bg-color: #111111;
  --secondary-text-color: #99999f;
  --border: white;
  --bg-sidebar: #151518;
  --card-bg: black;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
